body{
  background-image: url("https://wallpapercave.com/wp/SiaGVxD.gif");
  background-size: cover;
}
h1{
  text-align:center;
  font-size: 100px;
}
.title{
  text-align:center;
  font-size:85px;
}

.thinking{
  width:1920px;

 }

.designertitle {
  font-family: Georgia,serif;
    position: absolute;
    top: 500px;
    left: 170px;
    font-size: 30px;

  }
  .designertext {
    position: absolute;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    top: 550px;
    left: 200px;
    font-size: 15px;
    width: 250px;
  }
  .me {
      font-family: Georgia,serif;
    position: absolute;

    top: 500px;
    left: 1400px;
    font-size: 30px
}
.metext {
  position:absolute;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
  top: 550px;
  left: 1350px;
  width: 250px;
  font-size: 15px;
}

.people {
  font-family: Georgia,serif;
    position: absolute;
    top: 480px;
    left: 800px;
      font-size: 20px;
      width: 200px;

}
.peopletext {
  position: absolute;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  top: 550px;
  left: 800px;
  font-size: 15px;
  width: 200px;
}
.pog1{
  position: absolute;
length: 400px;
  width: 400px;
  top: 0px;
  right:200px;

}
.pog2{
  position: absolute;
  length:400px;
  width: 400px;
  top: 0px;
  left: 200;
}
.show{
  text-align: center;
  font-size: 30px;
  color: black;



}
.pog3{
  position: absolute;
  length:150px;
  width:300px;
  top:1300px;
  right:200px;

}



.hidden {
	display:none;

}

#button {
    background-color: aqua;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.inspiration{
    font-family: Georgia,serif;

}
.inspirationtext{
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  text-align: center;
  width: 400px;
  font-size:18px;
}
#button1 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
